### **Import Required Libraries**

In [14]:
# Basics
import os
import sys
import pandas as pd
import numpy as np
np.random.seed(40)

# Modeling
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split


# MLFlow
import mlflow
import mlflow.sklearn
from mlflow.models import infer_signature

# LOOGS
import logging
import warnings
logging.basicConfig(level=logging.WARN)
logger= logging.getLogger(__name__)
warnings.filterwarnings('ignore')

### **Define Required Functions**

#### **Model Metrics Evaluation**

In [4]:
def eval_metrics(actual,pred):
    rmse= np.sqrt(mean_squared_error(actual,pred))
    mae= mean_absolute_error(actual,pred)
    r2= r2_score(actual, pred)
    return rmse, mae, r2

### **Read The Wine-Quality csv File From the URL**

In [5]:
csv_url= 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
try:
    data= pd.read_csv(csv_url, sep=';')
except Exception as e:
    logger.exception(
        'Unable to Download Training & Test CSV. Please Check Your Internet Connection. Error: %s',e
        )

### **Split The Data Into Training And Test Sets (0.75, 0.25) Split**

In [6]:
train, test= train_test_split(data)

# The Predicted Columns Is 'Quality' Which Is a Scalar from [3,9]
train_x= train.drop(['quality'], axis=1)
test_x= test.drop(['quality'], axis=1)

train_y= train[['quality']]
test_y= test[['quality']]

In [7]:
print(train_x.shape)
train_x.head()

(1199, 11)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1316,5.4,0.74,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5
1507,7.5,0.38,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4
849,6.4,0.63,0.21,1.6,0.080,12.0,32.0,0.99689,3.58,0.66,9.8
82,7.4,0.50,0.47,2.0,0.086,21.0,73.0,0.99700,3.36,0.57,9.1
644,9.9,0.54,0.45,2.3,0.071,16.0,40.0,0.99910,3.39,0.62,9.4

In [8]:
print(test_x.shape)
test_x.head()

(400, 11)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1035,10.1,0.37,0.34,2.4,0.085,5.0,17.0,0.99683,3.17,0.65,10.6
49,5.6,0.31,0.37,1.4,0.074,12.0,96.0,0.99540,3.32,0.58,9.2
799,9.4,0.50,0.34,3.6,0.082,5.0,14.0,0.99870,3.29,0.52,10.7
538,12.9,0.35,0.49,5.8,0.066,5.0,35.0,1.00140,3.20,0.66,12.0
660,7.2,0.52,0.07,1.4,0.074,5.0,20.0,0.99730,3.32,0.81,9.6

In [9]:
print(train_y.shape)
train_y.head()

(1199, 1)

      quality
1316        6
1507        6
849         5
82          5
644         5

In [10]:
print(test_y.shape)
test_y.head()

(400, 1)

      quality
1035        7
49          5
799         6
538         7
660         6

### **Set Values For Alpha & L1_Ratio**

In [13]:
alpha= float(sys.argv[1]) if len(sys.argv) > 1 else 0.5
l1_ratio= float(sys.argv[2]) if len(sys.argv) > 2 else 0.5

NameError: name 'argv' is not defined